li {
  font-size: 15px;
  list-style: none;
}

ul {
  padding-left: 0%;
}

li:first-letter {
  text-transform: capitalize;
}

a{
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #00203F;
  border-radius: 8px;
  background: #d6dbdbe3;
}

.container {
  max-width: 620px;
  margin: 0px auto;
  padding: 20px;
}

.current-weather img{
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 5px;
  height: 120px;
  width: 120px;
}
.current-weather strong{
  font-size: 45px;
  line-height: 1px;
  font-weight: 400;
 
}

.current-weather .units{
  position: relative;
  font-size: 15px;
  top: -21px;
}

.current-weather .active{
color: #212529;
cursor: default;
}

.current-weather .active:hover {
text-decoration: none;
}

.weather-forecast{
  text-align: center;
  
}

.weather-forecast-date{
  font-size: 16px;
  font-weight: bold;
}

.weather-forecast-temperatures{
  font-size: 16px;
}

.weather-forecast-temperatures-min{
  opacity: 0.5;
}

.card-days{
  border: 1px solid #00203F;
  color: #00203F;
  border-radius: 8px;
  margin: -5px;
  text-align: center;
  opacity: 2;
}

#searchButton  {
  background: #195190FF;
  border: 1px solid #00203F;
  color: #FCF6F5FF;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
}

#current-location-button {
  background-color: #89ABE3FF;
  border: 1px solid #00203FFF;
  color: #FCF6F5FF;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
}

#search-form {
text-align: center;
}

#date {
  font-size: 17px;
}

#features {
  margin-top: 24px;
  margin-left: 52px;
}